<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Music Venues App</title>

    <!--CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <!--Script Files  -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQZl4R2I9_bFIlDdGQIwNyVnAYRlUzDm0&libraries=places&callback=initAutocomplete" async defer></script>


  </head>
  <body>
    <div class="parallax-background">
      <!-- // this whole section adds a search bar. I commented it out as it holds no
       functionality and does not serve a good user experience until we have a new route
       for a results page. -->

      <!-- <nav class="top-bar" data-topbar role="navigation" style="height: 2em"> -->
        <!-- <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div> -->
            <!-- <div class="large-4 small-3 columns"> -->
              <!-- <input type="button" class="alert button expand" id="search-button" value="Search"
                  onclick="window.location = document.getElementById('search-button').value;"/> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </li>
      </nav> -->

      <div class="intro-text">
        <p>Music Venues App</p>
        <p><i class="fi-arrow-down"></i></p>
      </div>
    </div>


<!-- form to create venues -->
  <div class="parallax-content">
    <p id= "map-instructions"> Look up local music venues through Google Places and create a comprehensive directory for your friends!</p>

    <form id='newVenueForm' class="form-style">
      <div class="row">
        <div class="large-6 columns">
          <label class="form-style">Venue Name
            <input id="nameData" name="name" type="text" placeholder="e.g. Music Inn">
          </label>
          <label class="form-style">Venue Address
            <input id="addressData" name="address"type="text" placeholder="e.g. 1234 Park Ave">
          </label>
          <label class="form-style">Venue Website
            <input id="websiteData" name="website" type="text" placeholder="e.g. https://">
          </label>
          <label class="form-style">Venue Image
            <input id="imageData" name="image" type="text" placeholder="Image URL">
          </label>
          <a role="button" aria-label="submit form" id="form-btn" class="button">Submit</a>

          <!-- //// map set up here  -->
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map"></div>

        </div>
      </div>
    </form>
  </div>
  <div class="parallax-content">
    <div class="row">
      <h2> Venues </h2>


      <div id="venues">

        <!---one venue-->
          <script id="venues-template" type="text/x-handlebars-template">
            {{#each venues}}
            <div class="row venue" data-venue-id={{_id}}>
              <div class="card large-12 columns">
                  <ul class="inline-list large-text-center">
                      <img src={{image}} class="large-6 columns">
                      <div id="card-content">
                        <h4 class="inline-header large-6 small-12 columns">Venue Name:</h4>
                        <span class="venue-name large-6 small-12 columns">{{name}}</span>
                        <h4 class="inline-header large-6 small-12 columns">Venue Address:</h4>
                        <span class="venue-address large-6 small-12 columns">{{address}}</span>
                        <h4 class="inline-header large-6 small-12 columns">Venue Website:</h4>
                        <span class="venue-website large-6 small-12 columns">{{website}}</span>
                        <br>
                        <br>
                        <a class="button small comment-btn">Comment</a>
                        <a class="button small edit-btn">Edit</a>
                        <a class="button small delete-btn">Delete</a>
                      </div>
                  </ul>
              </div>
            </div>
            {{/each}}
          </script>
        </div>
      </div>
    </div>

  </body>
</html>
