<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Music Venues App
    </title>
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  </head>
  <body>

    <div class="parallax-background">
      <div class="intro-text">
        Music Venues App


        <p><i class="fi-arrow-down"></i></p>
      </div>
    </div>


<!-- asdf -->


  <div class="parallax-content">
    <form id='#newVenueForm' class="form-style">
      <div class="row">
        <div class="large-6 columns">
          <label class="form-style">Venue Name
            <input type="text" placeholder="e.g. Music Inn">
          </label>
          <label class="form-style">Venue Address
            <input type="text" placeholder="e.g. 1234 Park Ave">
          </label>
          <label class="form-style">Venue Website
            <input type="text" placeholder="e.g. https://">
          </label>
          <label class="form-style">Venue Image
            <input type="text" placeholder="Image URL">
          </label>
          <a role="button" aria-label="submit form" href="#" class="button">Submit</a>
        </div>
      </div>
    </form>
  </div>
  <div class="parallax-content">
    <div class="row">
      <h3> Venues </h3>

      <div id="venues">

        <!---one venue-->
        <script id="venues-template" type="text/x-handlebars-template">
          <div class="row venue">
          {{#each venue}}
          <div class="card large-9 columns">
            <ul class="inline-list">
              <img src={{image}}>
              <h4 class="inline-header">Venue Name:</h4>
              <span class="venue-name">{{name}}</span>
              <h4 class="inline-header">Venue Address:</h4>
              <span class="venue-name">{{address}}</span>
              <h4 class="inline-header">Venue Website:</h4>
              <span class="venue-name">{{website}}</span>
            </ul>
          {{/each}}
          </div>
        </script>
    </div>

    </div>
  </div>

  </body>
</html>
