body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
}

#comment-section {
	display: none;
}

.post-btn {
	display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 500px;
	width: 800px;
	border: 10px solid #000000;
}

.inline-header {
	font-weight: bold;
}

#map-instructions {
	font-weight: normal;
}

#form-btn {
	border-radius: 10px;
}

span {
	padding: 10px;
}

.has-form {
  position: absolute;
  top: 0;
  right: 6rem;
  min-width: 14rem; }
  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 10rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; } }

h2 {
	text-align: center;
}

.parallax-background {
	background-image: url('https://www.digitalstatus.com/wp-content/uploads/2015/02/dj_fans.jpg');
	background-color: #0078A0;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text {
	font-size: 75px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}

.form-style {
	margin: 0 auto;
	width: 750px;
}

img {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	padding-bottom: 50px;
}

#card-content {
	padding-top: 25px;
}

.button.small {
	border-radius: 10px;
}

.form-style {
	font-weight: bold;
}

li {
	list-style: none;
}

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);
html, body {
  background: #FAFAFA; }

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 20px; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: white;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: absolute; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }
